<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WriteDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6F6F46071C3FB24E009D5990</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F6F461E1C3FB24E009D5990</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F6F46291C3FB24E009D5990</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
